@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloria+Hallelujah&family=Indie+Flower&family=Sora:wght@100..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-flow: column wrap;
    background-image: black url(imagens/principais-inovacoes-no-mercado-de-oficinas-mecanicas-o-que-evoluiu-nos-ultimos-anos.png) center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    background-color: #002C57;
    color: white;
    
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    list-style: none;
    color: white;
}

header nav ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
    
}

header nav ul li a:hover{
    text-decoration: underline 3px;
    
}

header nav ul span{
    color: white;
    
}
